/*Singnin Form*/
body.signin-body{
    background-color:#ECF0F1;
}

.container.signin-container{
    margin-top: 3%;
}

.card.signin-card{
    padding: 40px 0 20px;
    background-color: #F4F6F7;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .30);
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .30);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .30);
}

.signin-header{
    display: block;
    font-size: x-large;
    text-align: center;
    padding-bottom: 30px;
    font-family: inherit;
}

img.signin-img{
    padding-bottom: 10px;
    display: block;
    margin:auto;
}

.signin-form{
    padding-bottom: 20px;
    max-width: 500px;
    margin: auto;
}

.signin-chk-box{
    float: left;
}

.signin-btn{
    display: block;
    margin: auto;
}

.signin-help{
    display: block;
    margin: auto;
    text-align: center;
    font-family: inherit;
}

.create-acc{
    display: block;
    margin: auto;
    text-align: center;
}

body{
    background-color: #ECF0F1;
}
/*Home*/
.jumbotron{
    text-align: center;
    background: none;
}

.home-banner {
    padding: 2em;
}

.darker-content{
    background-color:#D0D3D4;
    padding: 2em;
}

.sticker-content-1{
    text-align: justify;
}

.get-stuff-wrapper{
    display: block;
    margin-top: 30px;
}

.btn.get-stuff-btn{
    display: block;
    margin: auto;
}

.cool-modal-logo{
    display: block;
    margin: auto;
    align-content: center;
    padding-bottom: 10px;
}

.cool-modal-form{
    display: block;
}

/*Bottom Contents*/
.bottom-content-1{
    background-color:#ECF0F1;
    padding: 2em;
}

.news-poster-content{
    padding: 50px;
    margin: auto;
}

.poster-img{
    display: block;
    margin: auto;
    border-radius: 10px;
}

.new-release{
    padding: 0 2em 2em;
    background-color: #ECF0F1;
}

.new-rel-img{
    border-radius: 20px;
    display: block;
    margin: auto;
    box-shadow: 2px 2px 25px 2px rgba(0,0,0,0.5);
}

.new-rel-txt{
    text-align: justify;
    letter-spacing: 2px;
    font-size: medium;
    line-height: 25px;
    padding: 35px;
}

.new-rel-jumbotron{
    background-color:#ECF0F1;
}

.bmw-btn{
    display: block;
    margin: auto;
}

.footer{
    background-color: #283747;
}

.footer-logo{
    display: block;
    margin: auto;
    padding: 25px 0 10px;
}

.logo-txt{
    letter-spacing: 5px;
    display: block;
    margin: auto;
    font-size: x-large;
    font-family: Calibri, serif;
    color: #ECF0F1;
}

.footer-list{
    text-decoration: none;
}

.footer ul{
    list-style: none;
    display: block;
    margin: auto;
}

.footer ul li{
    display: block;
    margin: auto;
    text-align: center;
    line-height: 40px;
    font-size: large;
    letter-spacing: 3px;
    color: #D0D3D4;
}

.fa-facebook-square{
    color:#0E9AF9;
}

.fa-google-plus-square{
    color: #c32f10;
}

.fa-instagram{
    color: #A569BD;
}

.icon-pad{
    padding: 10px;
}

.footer-end-left{
    display:block;
    margin: auto;
    float: left;
}

.footer-end-right{
    float: right;
    display: block;
    margin: auto;
}

.footer-dark{
    background-color:#1B2631;
}

.footer-terms{
    font-family: inherit;
    color:#D0D3D4;
}

.footer-terms:hover{
    text-decoration: none;
    color:#7D3C98;
}

.home-icon{
    color:#34495E;
}

.fa-copyright{
    color:#04FCEB;
}

.fa-registered{
    color:#04FCEB;
}

.fa-plus{
    color:#D0D3D4;
}

.gp-copyright{
    font-family: ;
    color:#04FCEB;
    font-size: large;
}

.gp-copyright:hover{
    text-decoration: none;
    color:#EC7063;
}